# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.ipch
*.db-wal
.vs/ofxAntilatency/v16/Solution.VC.db-shm
*.opendb
.vs/AntilatencyOSC/v16/.suo
*.rc
*.user
*.filters
*.sln
*.vcxproj
*.exp
*.tlog

obj/
.vs/
*.ilk
*.pdb
libs/Api/*